#  Pandas

In [6]:

import numpy as np
import pandas as pd

### create a three dimensional array ( as row)

In [26]:
data = np.array([[32, 2 , 1],[25, 7 , 6],[26, 5 , 5],[30, 3 , 2]])

### Create a string list as ( as column )

In [27]:
column = ['temperature', 'activity','sport']

 ### pd.DataFrame get two parameters ( data as row , columns as column )

In [31]:
dataFrame = pd.DataFrame(data=data, columns=column)
print (dataFrame)

   temperature  activity  sport
0           32         2      1
1           25         7      6
2           26         5      5
3           30         3      2

### create a new column names "adjusted" have value from "activity" column + 2

In [33]:
dataFrame["adjusted"] = dataFrame["activity"] + 2
print(dataFrame)

   temperature  activity  sport  adjusted
0           32         2      1         4
1           25         7      6         9
2           26         5      5         7
3           30         3      2         5

### print first two row in array
#### index 0 and index 1

In [35]:
print( dataFrame.head(2), '\n')

   temperature  activity  sport  adjusted
0           32         2      1         4
1           25         7      6         9

### print just seconde row in array
#### index 2

In [36]:
print( dataFrame.iloc[[2]], '\n')

   temperature  activity  sport  adjusted
2           26         5      5         7

### print from index 2 to index 4 ( index 4 not exist)
#### print index 2 and index 3

In [38]:
print(dataFrame[2:4], '\n')

   temperature  activity  sport  adjusted
2           26         5      5         7
3           30         3      2         5

### print all row data for this column

In [39]:
print(dataFrame['temperature'])

0    32
1    25
2    26
3    30
Name: temperature, dtype: int64

# Task 1

#### Do the following:
#### Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.
#### Output the following:
#### the entire DataFrame
#### the value in the cell of row #1 of the Eleanor column
#### Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.
#### To complete this task, it helps to know the NumPy basics covered in the NumPy UltraQuick Tutorial.

In [85]:
row2    = np.random.randint(low=0, high=101, size= (3 , 4) )
column2 = ['Eleanor', 'Chidi','Tahani','Jason']

In [86]:
dataFrame2 = pd.DataFrame(data=row2, columns=column2)
print ("Data Frame is \n")
print (dataFrame2)

Data Frame is

   Eleanor  Chidi  Tahani  Jason
0       97     34      31     82
1        2     23      97     63
2       20      7      10     57

In [87]:
print(f" the value in Eleanor coulumn in 1 cell is :  {dataFrame2['Eleanor'][1]}")

 the value in Eleanor coulumn in 1 cell is :  2

In [104]:
dataFrame2["adjusted"] = dataFrame2["Tahani"] + dataFrame2["Jason"] 
print (dataFrame2)

   Eleanor  Chidi  Tahani  Jason  adjusted
0       97     34      31     82       113
1        2     23      97     88       185
2       20      7      10     25        35

### modify a cell

In [110]:
print (f"old value {dataFrame2['Jason'][1]} and {dataFrame2['Jason'][2]} ")

dataFrame2.at[1, 'Jason'] = dataFrame2 ['Jason'][1] + 5
dataFrame2 ['Jason'][2]   = dataFrame2 ['Jason'][2] + 5

print (f"new value {dataFrame2['Jason'][1]} and {dataFrame2['Jason'][2]} ")

old value 103 and 30
new value 108 and 35

### Create a true copy of dataFrame2

In [98]:
copy_of_dataFrame2 = dataFrame2.copy()
copy_of_dataFrame3 = dataFrame2
print("  Starting value of copy_of_my_dataframe: %d\n" % copy_of_dataFrame3['adjusted'][2])

  Starting value of copy_of_my_dataframe: 67

#  Finish